<div class="my-card"
  [style.height]="imageHeight+'px'" [style.width]="imageWidth+'px'"
  (mouseenter)="mouseOver=true" (mouseleave)="mouseOver=false">
  <div class="my-container">
    <div class="img-wrapper">
      <img src={{collectionData.cover_photo.urls.small}} alt={{collectionData.cover_photo.alt_description}}>
    </div>
    <div class="image-info" *ngIf="mouseOver">
      <div class="likes">
        <p>{{collectionData.total_photos}}</p>
      </div>
      <p>{{collectionData.user.username}}</p>
    </div>
  </div>
</div>

